#about-team {
  font-family: var(--paragraph-Font);
  background-color: var(--bg-color);
  min-height: 100vh;
  position: relative;
  padding-inline: 4em;
  gap: 1em;
  overflow: hidden;
}
#about-team h1 {
  padding-block: 2em;
  text-align: center;
}
#team-container {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  flex-wrap: wrap;
}
#team {
  width: 14em;
  border-style: solid;
  padding: 1em 1em;
}
#team-img-container {
  width: 95%;
  height: 12em;
  background-color: black;
}
#team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}
#team-info h1 {
  padding: 0;
}
