#hero {
  font-family: var(--paragraph-Font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 100vh;
  position: relative;
  padding-inline: 4em;
  gap: 1em;
  padding-top: 3em;
}
#hero-img-container {
  background-color: var(--text-color);
  height: 60%;
  width: 100%;
  border-radius: 20px;
  color: var(--text-color);
  text-align: center;
  overflow: hidden;
}
#hero-content-container {
  width: 100%;
  text-align: center;
}
#heading {
  margin-bottom: 10px;
}
#hero-img {
  width: 100%;
  height: 100%;
}
