#cta-btn-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text-color);
  font-family: var(--paragraph-Font);
  gap: 2em;
}
#cta-btn {
  padding: 1em 1em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: var(--text-color);
  color: var(--hover-text-color);
  box-shadow: var(--shadow);
}
#btn-info {
  background-color: black;
  padding: 0.6em;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--shadow);
}
