#shop {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding-top: 4em;
}

.items-container {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
  padding-inline: 2em;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.bg {
  background-color: var(--bg-color);
}
