.card-container {
  height: 14em;
  width: 10em;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1em;
}
.image-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.image-container img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.info-container {
  overflow: hidden;
  align-items: center;
  padding-inline: 0.5em;
}
.info-container h5 {
  margin-bottom: 0.5em;
  font-family: var(--Font-2);
}
.info-container h6 {
  font-family: var(--Font-1);
  color: green;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
