@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
}
.hero-heading {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 4rem;
}

.bg {
  background-color: rgb(194, 194, 232);
}
